* {
	direction: rtl;
}
#home h1 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
}
ul.mlist li:hover,
ul.mlist li:active {
	background: #CCCCCC;
}
#pages #pages-ul li {
	list-style: none;
	float: right;
	width: 21%;
	height: auto;
	padding: 1%;
	background: #FFF;
	margin: 1%;
	float: left;
}
#pages #pages-ul img {
	width: 100%;
	height: auto;
	
}