* {
	direction: rtl;
}
p {
	text-align: justify;
}
#home h1 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
}
ul.mlist li {
	text-align: right;
	direction: rtl;
}
ul.mlist li:hover, ul.mlist li:active {
	background: #CCCCCC;
}
#pages #pages-ul {
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
}
#pages #pages-ul li {
	width: 100%;
	height: auto;
	background: #FFF;
	text-align: center;
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
#pages #pages-ul li.active {
	display: block;
}
#pages #pages-ul img {
	width: 500px;
	height: auto;
}

.ui-icon-t22 {
	background-image: url("../themes/images/icons/22-skull-n-bones.png");
}
#anews-content,
#anews-content p {
	text-align: justify !important;
}
